a2/poema.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT poema (titulo,autor,corpo,data) >
<!ELEMENT titulo (#PCDATA) >
<!ELEMENT autor (#PCDATA) >
<!ELEMENT corpo  (quadra,quadra,terceto,terceto) >
<!ELEMENT data (#PCDATA) >

<!ELEMENT quadra (verso,verso,verso,verso) >
<!ELEMENT terceto (verso,verso,verso) >

<!ELEMENT verso (#PCDATA|nome|local)* >

<!ELEMENT nome (#PCDATA) >
<!ELEMENT local (#PCDATA) >
